<footer class="footer">
  <div class="container">
    <div class="footer-nav">
      <div class="footer-nav-left">
        <ul class="footer-menu">
          <li><a href="./index.html">首頁</a></li>
          <li><a href="#">系列鏡框</a></li>
          <li><a href="#">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>

        <div class="contact-us">
          <div class="phone">
            <span class="material-symbols-outlined">
              call
            </span>
            <p><a href="#">0800-000-00</a></p>
          </div>

          <div class="email">
            <span class="material-symbols-outlined">
              mail
            </span>
            <p><a href="#">glasses@business.com</a></p>
          </div>
        </div>
      </div>

      <div class="footer-nav-right">
        <div class="icon">
          <a href="#" class="media-icon">
            <img class="fb"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
              alt="fb"></a>
          <a href="#" class="media-icon">
            <img class="ig"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
              alt="ig"></a>
          <a href="#" class="media-icon">
            <img class="line"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
              alt="line"></a>
        </div>
      </div>
    </div>

    <div class="copyright">
      <span>Copyright © 2020 Glasses.All rights reserved.
      </span>
      <div class="remark">
        <span class="mr-6 fz-14 mb-3">隱私權政策</span>
        <span class="fz-14 mb-3">服務條款</span>
      </div>
    </div>
  </div>
</footer>