<header class="header">
  <div class="container px-sm-0">
    <a href="./index.html" class="logo">
      <img class="logo-img"
        src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
        alt="logo">
    </a>
    <ul class="nav">
      <li class="nav-item"><a href="#">系列鏡框</a></li>
      <li class="nav-item"><a href="store.html">門市據點</a></li>
      <li class="nav-item"><a href="#">部落格</a></li>
      <li class="nav-item"><a href="question.html">常見問題</a></li>
    </ul>
  </div>
</header>