*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* banner */
.banner {
  height: calc(100vh - 80px);
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
  background-position: center;
  background-size: cover;
  @include mobile {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true");
  }

  .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .title-text-content p {
      font-size: 36px;
      color: $secondary;
      @include mobile-large {
        font-size: 32px;
      }
      @include mobile {
        font-size: 20px;
      }
    }
    .title-text-content h1 {
      @include mobile-large {
        font-size: 48px;
      }
      @include mobile {
        font-size: 32px;
      }
    }
    .purchase {
      background: $primary;
      width: 100px;
      padding: 4px;
      margin-left: auto;
    }
  }
}


/* pro */
.pro {
  background: $bg-light;
  padding: 80px 0;

  .card-list {
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    .column {
      width: 25%;
      padding: 0 12px;
      @include pad {
        width: 50%;
      }
      @include mobile {
        width: 100%;
      }
      .card {
        text-align: center;
        height: 100%;
        img {
          margin: 0 auto;
          width: 84px;
          height: 84px;
          margin-bottom: 24px;
        }
      }
    }
  }
}


/* series */
.series {
  margin: 80px 0;
  .card-list-service {
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    .column-service {
      width: 33.3333%;
      padding: 0 12px;
      display: flex;
      justify-content: center;
      @include pad {
        width: 100%;
      }
      .card-service {
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        @include pad {
          max-width: 336px;
        }
      }
    }
  }
}


/* joint-model */
.joint-model {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");
  background-position: center;
  background-size: cover;
  @include pad {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true");
  }
  @include mobile {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true");
  }
  .joint-name-title {
    color: white;
    padding-top: 80px;
  }
  .card-list-joint {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 60px 0;
    .column-joint {
      width: 50%;
      @include pad {
        width: 100%;
        margin-bottom: 24px;
      }
      .joint-name {
        background: #ffffff;
        text-align: center;
        font-style: italic;
        border: 1px solid #e2dcdc;
      }
    }
  }
}


/* recommend */
.recommend {
  margin: 80px 0;
  .card-list-recommend {
    flex-wrap: wrap;
    margin: 0 -12px;
    .column-recommend {
      width: 25%;
      padding: 0 12px;
      margin-bottom: 24px;
      @include pad {
        width: 50%;
      }
      @include mobile {
        width: 100%;
      }
      .card-recommend {
        height: 500px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 2px 6px #00000029;
        border: 1px solid #dee2e6;
        border-radius: 4px;
        @include mobile {
          height: auto;
        }
      }
    }
  }
}


/* connection */
.connection {
  background: $bg-light;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  form {
    width: 50%;
    font-weight: bold;
    @include pad {
      width: 100%;
    }
    p {
      font-size: 20px;
    }
    .name,
    .tel,
    .mail,
    .advice {
      width: 100%;
      padding: 8px;
    }
    .btn {
      margin: 0 auto;
      display: flex;
      width: 50%;
      background: $primary;
      padding: 12px 0;
      justify-content: center;
      color: white;
      margin-top: 40px;
      cursor: pointer;
    }
  }
}
