.question {
  .container {
    padding: 0 36px;
  }
  margin-top: 96px;
  margin-bottom: 96px;
  h2 {
    text-align: left;
    border-left: 8px solid #9f1213;
    margin-bottom: 24px;
    padding-left: 12px;
    color: black;
    @include mobile {
      font-size: 24px;
    }
  }
  h3 {
    color: black;
    margin-bottom: 24px;
  }
  &-item {
    h4 {
      margin-bottom: 12px;
    }
    p {
      margin-bottom: 24px;
      width: 856px;
      @include pad {
        width: 696px;
      }
      @include mobile-large {
        width: 100%;
      }
    }
  }
}
