.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}
.d-flex {
  display: flex;
}
.jcc {
  justify-content: center;
}
.jcsb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.px-3 {
  padding: 0 12px;
}
.pt-6 {
  padding-top: 24px;
}
.pb-6 {
  padding-bottom: 24px;
}
.mt-auto {
  margin-top: auto;
}
.mt-6 {
  margin-top: 24px;
}
.my-3 {
  margin: 12px 0;
}
.mb-3 {
  margin-bottom: 12px;
}
.mb-6 {
  margin-bottom: 24px;
}
.mb-12 {
  margin-bottom: 48px;
}
.mr-6 {
  margin-right: 24px;
}
.mr-3 {
  margin-right: 12px;
}
.fz-14 {
  font-size: 14px;
}
.color-707070 {
  color: #707070;
}
.fw-bold {
  font-weight: bold;
}